/* BreakPoints 
@media (max-width: 575.98px) { ... }
@media (max-width: 767.98px) { ... }
@media (max-width: 1199.98px) { ... }

@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
*/

@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), local('Avenir'), url('../font/avenir/regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  font-weight: 800;
  src: local('Avenir Bold'), local('Avenir Bold'), url('../font/avenir/bold.woff') format('woff');
  font-display: swap;
}

@import "components/normalize";
@import "components/variables";
@import "components/paddings";
@import "components/font";
@import "components/button";
@import "components/footer";
@import "components/bootstrap";
@import "components/gallery";

html,
body {
  scroll-behavior: smooth;
  font-size: 1rem;
  /* overflow-x: hidden; */
  list-style-position: inside;
  font-family: $font;
  margin: 0;
  padding: 0;
}

// Sección 1
#S1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/panel-solar.jpg) no-repeat center bottom / cover;
  height: 80vh;
  padding: 3rem;
  @media (max-width: 991.98px) { 
    background: url(../img/panel-solar.jpg) no-repeat 80% bottom/cover;
    height: auto;
  }
  .lang {
    display: flex;
    align-self: flex-end;
  
    a {
      color: $white;
      text-decoration: none;
      transition: color 0.5s ease;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      &:hover {
       color: $black;
     }
    }

  }
}

// =========
// Sección 2
#S2 {
  display: flex;
  flex-direction: column;
  padding: 3rem;

}
// =========