@mixin button($color) {
  position: relative;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  background: $color;
  border-radius: 29% / 200%;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;

  &:focus{
      outline: none;
  }
}
.btn-green {
  @include button($green);
}
.btn-orange {
  @include button($orange);
}
.btn-blue{
  @include button($blue);
}