p, a {
  font-size: 1.2rem;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{
  margin: 0;
  font-weight: 100;
}

@for $i from 1 through 6 {
  h#{$i},
  .h#{$i} {
    font-size: (6 - (0.6rem * $i));
  }
}