$blue: #0067A3;
$orange: #F88E2A;
$green: #B4D336;
$gray: #B3B3B3;
$darkgray: #4D4D4D;
$black: #000000;
$white: #fff;
$font: 'Avenir', sans-serif;
$sides: ( "": "", "t": "top", "b": "bottom", "l": "left", "r": "right");
$breakpoints: ( "": "", "xs": 576px, "sm": 768px, "md": 992px, "lg": 1200px, "xl": 1320px);